{% extends 'base.html.twig' %}

{% block title %}Liste de mes tickets{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Ticket list from index ✅</h1>

    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Category</th>
                <th>Users</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for ticket in tickets %}
            <tr>
                <td>{{ ticket.title }}</td>
                <td>{{ ticket.date|date('d m Y  H:i') }}</td>
                <td>{{ ticket.category.title }}</td>
                <td>
                {% for user in ticket.users %}
                    {{ user.username }}
                {% endfor %}
                </td>
                <td>
                    <a href="{{ path('ticket_edit', {'ticketId': ticket.id}) }}">
                        Editer
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}
